{% extends "ossim/base.html" %}

{% block title %} <title> Memory Management </title> {% endblock %}




{% block content %}
<div class="main-container">
  <div class="mem-alloc">
    <h2>Memory Allocation</h2>
    <div class="mvt">
      Text about MVT MFT
    </div>
    <br>
    {% for alg in algos %}
      {% if alg.demourl|stringformat:"s" == "mem"  %}
        <div class="alg-container">
          <div class="alg-name">  {{alg.name}} </div>
          <div class="alg-description">
            {{alg.description}}
          </div>
        </div>
        <br>
        <!-- THIS IS COMMON DEMO BUTTON FOR ALL ABOVE ALGOS -->
        {% endif %}
      {% endfor %}
        <a href="/memory/demo/" class="btn btn-primary">Demo</a><br>

  </div>


</div>

{% endblock %}
{% block style %}
<style>

</style>

{% endblock %}
