{% extends "ossim/base.html" %}

{% block title %}
<title> OS-SIM </title>
{% endblock %}

{% block content %}

<div class="container">
  <div class="short">
    This is a short description of OS-SIM spanning entire Width
  </div>
  <div class="explore">
    <a href="/process/" class="btn btn-primary">Process Sceduling</a><br>
    <a href="/memory/page/" class="btn btn-primary">Page Replacement</a><br>
    <a href="/memory/alloc/" class="btn btn-primary">Memory Alocation</a><br>
    <a href="/disk/" class="btn btn-primary">Disk Sceduling</a><br>
    <a href="/synchro/" class="btn btn-primary">Synchronisation</a><br>
    <a href="/files/" class="btn btn-primary">File Structure</a><br>
  </div>


</div>

{% endblock %}

{% block style %}
<style>

</style>

{% endblock %}
