{% extends "ossim/base.html" %}

{% block title %} <title> Disk Scheduling Algorithms </title> {% endblock %}




{% block content %}
<div class="main-container">
{% for alg in algos %}
    <div class="alg-container">
      <div class="alg-name">  {{alg.name}} </div>
      <div class="alg-description">
        {{alg.description}}
      </div>
    </div>
    <br>
{% endfor %}
<!-- THIS IS COMMON DEMO BUTTON FOR ALL ABOVE ALGOS -->
<a href="/disk/demo/" class="btn btn-primary">Demo</a><br>


</div>
{% endblock %}
