<html>
	<head>
		<title>File System</title>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
            crossorigin="anonymous">
        </script>
        {% load static %}
		<link href="{%static 'filesystem/styles.css' %}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<h1>File System</h1>
		<div id="choice">
			<ul>
					<a href="fileexp/1"><li>Single level</li></a>
                    <a href="fileexp/2"><li>Two Level</li></a>
                    <a href="fileexp/3"><li>Tree Structure</li></a>
			</ul>
		</div>
	</body>
</html>
