{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>
    Gantt Chart - GUI
  </title>
  <script type='text/javascript' src='{% static 'js/input.js' %}'></script>
  <script type='text/javascript' src='{% static 'js/display.js' %}'></script>
  <link rel="stylesheet" href='{% static 'css/demo.css' %}'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>
  <h1 style="text-align:center;">
    Process Scheduling : Round-Robin
  </h1>
  <br>
  <br>
  <div class="note">
	<button id="sender" class="btn btn-primary">Send the entire data</button>
  <!-- <button onclick="download()">Generate JSON</button> -->
  </div>
    <div id="output">
    </div>

    <div class="card">
        Enter arrival time:
        <input style="width:200px;"id="newarrivaltime" class="form-control" type="text" value=""></input>
         Enter burst time:
        <input style="width:200px;position:relative;" id="newbursttime" class="form-control" type="text" value=""></input>
        <button class="btn" onclick="addToList()">Add</button>
    </div>
  <br>
  <br>

  <label for="sel1">Select Algorithm to be used :</label>
      <select class="form-control" id="sel1" style="width:400px;">
        <option>First come first serve(FCFS)</option>
        <option>Shortest job first(SJF)</option>
        <option>Round-Robin(RR)</option>
        <option>Priority scheduling</option>
      </select>

  <br>
  <br>
  <div id="outer-div">
  </div>
  <br><br><br>
  <div id="comments">
  	<h1>Operations Taking Place</h1><br><br>
  </div>
  <br><br><br>
  <div>
  	<h1>Table</h1><br><br>
	<table id="ptable" class="table table-hover">
	<th>Arrival time</th>
	<th>Burst time</th>
	<th>completion time</th>
	<th>waiting time</th>
	<th>turn-around time</th>

  </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

    $('#sender').click(function(){


    var text = JSON.stringify(stuff);
    //console.log(text);
    $.post('/process/gateway/',{value:text}, function(result){
      sequence = result["gantt"];
      a = result["table"]
      total = sequence.length;
      pixel = 0;
      i = 0;
      totalTime = sequence[total-1].stop;
      pixel = parseInt(800/totalTime);
      containerWidth = pixel*totalTime + 2;
      $('#outer-div').css('width',containerWidth+'px');
      displayBlock(i);
    });


    });

    $("#sel1").click(function(){
      alert($("#sel1").val()); // use this to get algorithm to be used
    })
</script>
