  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <h1 style="text-align:center;">Disk Scheduling</h1>
  <div id="chart_div"></div>
  <script>


	var a = [[0,20],[1,50],[2,100],[3,10],[4,5]];//Array of Array format : [order of access,Cylinder number]



	google.charts.load('current', {packages: ['corechart', 'line']});
	google.charts.setOnLoadCallback(drawBackgroundColor);


	function drawBackgroundColor() {
	      var data = new google.visualization.DataTable();
	      data.addColumn('number', 'Cylinder');
	      data.addColumn('number', 'order');

	      data.addRows([
		[20,-0],[50,-1],[100,-2],[10,-3],[5,-4]
	      ]);

	      var options = {
		hAxis: {
		  title: 'Cylinder Number'
		},
    pointSize: 20,
    animation:{
        duration: 1000,
        easing: 'out',
      },
		vAxis: {
		  title: '',
      baselineColor: 'none',
      ticks: []
		},
		backgroundColor: '#f1f8e9',
		legend: {position: 'none'}
	      };

	      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
	      chart.draw(data, options);
	    }
  </script>
